/* html,
body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.BaseLayout {
  flex: 1;
} */

.container {
  display: flex;
  flex-direction: column;
  background: radial-gradient(#ffdcdc, #c47878);
}

.top-left {
  align-self: flex-start;
}

.bottom-right {
  align-self: flex-end;
}

.bottom-left {
  align-self: flex-start;
}

.nutrition-bar {
  width: 25rem;
}

.mood {
  position: relative;
  left: -500px;
}
