.exercise-tracker-card {
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 20px;
  max-width: 300px; /* Adjust the max-width to match the desired size */
  margin: 0 auto;
  text-align: center;
}

.exercise-tracker-card h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.week-container {
  display: flex;
  justify-content: space-between;
}

.day-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  width: 20px; /* Adjust the width to match the desired size */
  height: 20px; /* Adjust the height to match the desired size */
  border-radius: 50%;
  background-color: #c4c4c4;
  margin-bottom: 10px;
}

.filled {
  background-color: orange;
}
