.sleep-gauge {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.sleep-gauge h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

#gauge-chart {
  width: 100%;
}

/* Media query for mobile devices */
@media screen and (max-width: 767px) {
  .sleep-gauge {
    margin: 0 auto;
    max-width: 300px;
  }
}

  